article {
    width: 100%;

    .dropdown-btn {
        cursor: pointer;
        width: 100%;
        border-radius: 5px 5px 0 0;
        background-color: transparent;
        border: 1px solid rgb(210, 210, 210);
        height: 2.5em;
    }

    .dropdown-content {

        table {
            width: 100%;
            text-align: center;
            border: 1px solid rgb(210, 210, 210);

            tbody {
                display: block;
                border-top: 1px solid rgb(210, 210, 210);
            }

            tr {
                display: flex;
                justify-content: space-between;
                margin: 0.25em 0;
                
                th, td {
                    flex: 1;
                    
                    button {
                        cursor: pointer;
                        width: 80%;
                        border-radius: 5px;
                        background-color: transparent;
                        border: 1px solid rgb(210, 210, 210);
                        height: 2em;
                    }
                }
                
                .btn-delete {
                    max-width: 20px;
                }
            }
        }
    }
}