* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 120px;
}

/* NAVBAR */

.navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    height: 70px;

    @media (min-width: 600px) {
        flex-direction: row;
    }
    
    .nav-header {
        background-color: #0a0a0a;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 20;
        min-height: 70px;
        padding: 0 20px;

        .icon-menu-dropdown {
            display: block;
            
            @media (min-width:600px) {
                display: none;
            }

            img {
                height: 60px;
                width: auto;
            }
        }

        .nav-logo {
            display: none;
            height: 60px;
            width: auto;

            @media (min-width:600px) {
                display: block;
            }

            img {
                height: 60px;
                width: auto;
            }
        }

        .nav-title {
            color: white;

            @media (min-width:600px) {
                display: none;
            }
        }
    }
    
    .nav-links {
        list-style: none;
        background-color: #0a0a0a;
        width: 100%;
        z-index: 10;
        transform: translate(0, -100%);
        transition: all ease-in-out .3s;
        
        @media (min-width:600px) {
            transform: none;
            height: 100%;
            width: fit-content;
            display: flex;
            align-items: center;
        }

        li {
            @media (min-width:600px) {
                min-width: 140px;
                text-align: center;
            }
            
            a {
                text-decoration: none;
                padding: 1em;
                margin: 0 0.125em;
                color: white;
                display: block;
            }
        }

        &.show {
            transform: translate(0);
        }
    }
}

// Pour scroll en haut de la page (impossible sur la navbar car elle a position: fixed)
#top {
    position: absolute;
    top: 0;
}

// Boutton pour retourné en haut

#btn-return-top {
    position: fixed;
    bottom: 3em;
    right: 3em;
    display: none;

    &.show {
        display: block;
    }

    img {
        width: 4em;
        height: 4em;
    }
}